# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#other
*.pyo
plugin.video.youtube/*
script.module.urlresolver/*
script.module.liveresolver/*
plugin.program.grecotm/*
_repo/plugin.program.grecotm/*
_tools/*
plugin.video.greek.tv/lib/rpdb2.py